.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

/* Discover */

.csJWra {
    background-color: #6b8577 !important;
    border-top: none !important;
}


/* typography */

.hero-title {
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: bold;
}

.section-title {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 600;
}

.medium_font {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

p.primary-text {
    font-size: clamp(1rem, 1vw, 1.5rem);
}

h1.hero-title span {
    background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}



/* buttons */
.try_free_btn {
    font-size: clamp(1.2rem, 1vw, 1.5rem);
    font-weight: 600;
}