body {
    background-color: rgb(8, 8, 8);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

/* Discover */

.csJWra {
    background-color: #6b8577 !important;
    border-top: none !important;
}
