section#discover {
    background-image: linear-gradient(to right top, #0e1421, #0e1525, #0e172a, #0e182f, #0f1933, #131f3d, #162547, #1a2c52, #213966, #27477a, #2c568f, #3065a4);
}

/* Ensure full-width layout under 1120px */
.table-wrapper {
    padding: 0 1rem;
    width: 100%;
}

@media (max-width: 1120px) {
    .tokens-table {
        margin: 0 !important;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .tokens-table {
        margin: 0 -20px !important;
        width: 110%;
    }
}