/* Header */
nav.navbar {
    background: black;
    border-bottom: 1px solid rgb(34, 34, 34);
}

nav.navbar button.navbar-toggler {
    background-color: white;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: rgb(95, 95, 180);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: rgb(95, 95, 180);
    background-color: transparent !important;
}

