section#device-section .card,
section#how-it-works .card,
section#trust-section .card,
section#global-section .card {
  background-color: #1C2437 !important;
  border: 3px solid transparent;
}

section#device-section .card:hover {
  border: 3px solid #259EFA;
  color: #259EFA !important;
  cursor: pointer;
}


/* section#hero-section {
  background-image: linear-gradient(to right top, #0e1421, #0e1525, #0e172a, #0e182f, #0f1933, #131f3d, #162547, #1a2c52, #213966, #27477a, #2c568f, #3065a4);
  color: white;
  height: 90vh;
} */